{{- $destination := .Destination -}}
{{- $resource := .PageInner.Resources.GetMatch $destination -}}

{{- if not $resource -}}
  {{- with .PageInner.Parent -}}
    {{- $resource = .Resources.GetMatch $destination -}}
  {{- end -}}
{{- end -}}

{{- $src := $destination -}}
{{- with $resource -}}
  {{- $src = .RelPermalink -}}
{{- end -}}

{{- if .IsBlock -}}
  <figure class="content-figure">
    <a
      class="content-figure__media"
      href="{{ $src | safeURL }}">
      {{ partial "media/responsive-image.html" (dict
        "Resource" $resource
        "Src" $src
        "Alt" .PlainText
        "Loading" "lazy"
        "Sizes" "(max-width: 55rem) 100vw, 72ch"
      ) }}
    </a>

    {{- with .Title -}}
      <figcaption class="content-figure__caption">
        {{ . }}
      </figcaption>
    {{- end -}}
  </figure>
{{- else -}}
  {{ partial "media/responsive-image.html" (dict
    "Resource" $resource
    "Src" $src
    "Alt" .PlainText
    "Loading" "lazy"
  ) }}
{{- end -}}
