<div class="page-main__inner">
  {{ partial "entity/graph-status.html" . }}
  {{ partial "search/pagefind-metadata.html" . }}
  {{ partial "navigation/breadcrumbs.html" . }}
  {{ partial "entity/header.html" . }}
  {{ partial "entity/archive-meta.html" . }}

  <div class="entity-layout">
    <article
      class="prose entity-content"
      data-pagefind-body>
      {{ .Content }}

      <div data-pagefind-ignore>
        {{ partial "entity/child-pages.html" . }}
      </div>
    </article>

    <aside
      class="entity-layout__aside"
      aria-label="实体信息"
      data-pagefind-ignore>
      {{ partial "entity/infobox.html" . }}
    </aside>
  </div>

  <div class="entity-appendix" data-pagefind-ignore>
    {{ partial "entity/timeline.html" . }}
    {{ partial "entity/relations.html" . }}
    {{ partial "entity/backlinks.html" . }}
    {{ partial "entity/sources.html" . }}
    {{ partial "entity/revision.html" . }}
  </div>

  <div data-pagefind-ignore>
    {{ partial "navigation/section-pagination.html" . }}
  </div>

  {{ partial "editor/edit-link.html" . }}
</div>
